@using Toplearn.ApplicationService.Contract.Dtos.UserPannel;
@model UserInfoForChangePasswordDto
<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
        <li class="breadcrumb-item active" aria-current="page">تغییر کلمه عبور  </li>
    </ul>
</nav>
<main class="client-page">
    <div class="container-content">

        <header><h2> تغییر کلمه عبور  </h2></header>

        <div class="form-layer">

            <form href="/UserPannel/ChangePassword" method="post">
                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="OldPassword" type="password" class="form-control" placeholder="کلمه عبور قبلی  " aria-describedby="password">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="کلمه عبور جدید  کاربر " aria-describedby="password">
                </div>
                <div asp-validation-summary="All" class="text-danger">
                </div>
                <button class="btn btn-success"> تغییر کلمه عبور   </button>
            </form>
        </div>
    </div>
</main>