@page
@model WebApplication1.Pages.ForegetPasswordEmailModel
@{
}
<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
        <li class="breadcrumb-item active" aria-current="page"> فراموشی رمز عبور </li>
    </ul>
</nav>
<main class="client-page">
    <div class="container-content">

        <header><h2> فراموشی رمز عبور  </h2></header>

        <div class="form-layer">

            <form asp-action="ForegetPasswordEmail" method="post">
                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="dto.Email" type="email" class="form-control" placeholder="ایمیل کاربر " aria-describedby="password">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="dto.NewPassword" type="password" class="form-control" placeholder="کلمه عبور جدید  کاربر " aria-describedby="password">
                </div>
                <div class="link">
                    <a href="/LoginUser"> <i class="zmdi zmdi-account"></i> ورود به سایت </a>
                </div>
                <div asp-validation-summary="All" class="text-danger">
                </div>
                <button class="btn btn-success"> بازیابی کلمه عبور   </button>
            </form>
        </div>
    </div>
</main>
@section Scripts{
    @if (TempData["Forget"] != null)
    {
        <script>
            Swal.fire({
                icon: "success",
                title: "کلمه عبور شما با موفقیت بازیابی شد",
            });
            setInterval(
                5000,
            );
            function GetLoginUser() {
                window.location.host = "/LoginUser";
            },

        </script>
    }
    @if (TempData["MistakeEmail"] != null)
    {
        <script>
                Swal.fire({
                    icon: "error",
                    title: "ایمیل وارد شده اشتباه میباشد",
                });
            setInterval(function () {
                5000
            });
        </script>
    }
}
